[submodule "third-party/yaml-cpp"]
	path = third-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "third-party/boost"]
	path = third-party/boost
	url = https://github.com/boostorg/boost.git
[submodule "third-party/gtest"]
	path = third-party/gtest
	url = https://github.com/google/googletest.git
